.food-card {
    background-color: lightgoldenrodyellow;
    color: #05052D;
    padding: 20px;
    border-radius: 20px;
    border: 0px;
    border-color: rgb(255, 71, 71);
    border-style: solid;
    transition: 100ms;
    max-width: 600px;
    margin-top: 20px;
}

.food-card:hover {
    transition: 200ms;
    border: 4px;
    border-color: tomato;
    border-style: solid;
}

.food-card-header {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.food-card-title-group {
    text-align: center;
    font-family: sans-serif;
}

.food-card-title {
    flex: 0.5;
    font-size: 30px;
    margin-bottom: 0;
    margin-top: 0;
    font-weight: bold;
}

.food-card-image {
    width: 560px;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.food-card-text {
    font-family: sans-serif;
    width: 350px;
    font-size: large;
}

.food-card-like-bar {
    display: flex;
    align-items: center;
    margin-top: 20px;
    justify-content: space-between;
}

.slick-prev {
    left: -52px !important;
}

.slick-next:before,
.slick-prev:before {
    content: "" !important;
}

.next-slick-arrow,
.prev-slick-arrow {
    color: #000000;
    font-size: 45px;
}